    <div class="container-narrow">
        <footer> <p>
                &copy; 2015 liucc

                博客首先是一种知识管理工具.
            </p> </footer>
    </div> <!-- container-narrow -->

</div><!-- /.container -->

<script src="/js/jquery-2.1.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-paginator.js"></script>
<script>

    $(function(){
        var navActive='<%= navActive || "" %>';
        if(navActive){
            $('#navbar li').each(function(){
                if($(this).attr('nav')==navActive){
                    $(this).addClass('active');
                }else{
                    $(this).removeClass('active');
                }
            });
        }
    });
</script>
</body>
</html>